.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
}

.header__logo {
  margin-right: 56px;
  line-height: 0;
}

.header__logo-text {
  margin-right: auto;
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    align-items: center;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__logo {
    margin-right: 13px;
  }

  // .header__logo-text {
  //   margin-right: 30px;
  //   // margin-right: unset;
  // }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    right: 0;
    left: 0;
    background: transparent;
    z-index: 1;
  }

  .header__wrapper {
    padding-top: 55px;
    padding-bottom: 29px;
  }

  .header__logo {
    margin-right: 14px;
  }
}
