.hero {
  font-family: $primary-font;
  color: $base-color-white;
}

.hero__container {
  background-color: $accent-color;
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.hero__text {
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
