.location {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 320px 1fr;
  background-color: $base-color-white;

  &--page {
    background-color: $base-color-gray;
  }
}

.location__wrapper {
  display: flex;
  grid-area: 1/1/2/-1;
  justify-content: space-between;
  justify-self: center;
  width: 320px;
  padding: 26px 20px;
}

.location__title {
  width: 50%;
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text-medium;
}

.location__address {
  width: 50%;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.location__street {
  margin: 0;
}

.location__city {
  margin: 0;
}

.location__map {
  position: relative;
  display: grid;
  grid-area: 2/1/3/-1;
  place-self: center;
  grid-template-rows: min-content;
  grid-template-columns: min-content;
}

.location__map iframe {
  border: 0;
  grid-area: 1/1/-1/-1;
  width: 100vw;
  height: 362px;
  display: block;
}

.location__image-wrapper {
  grid-area: 1/1/-1/-1;
  display: block;
}

@media (min-width: $tablet-width) {
  .location {
    grid-template-columns: 1fr 768px 1fr;
  }

  .location__wrapper {
    width: 768px;
    padding: 60px 70px;
  }

  .location__title {
    font-size: 20px;
    line-height: 26px;
  }

  .location__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .location__city {
    padding-top: 17px;
  }

  .location__map iframe {
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .location {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr 110px 1220px 110px 1fr;
    background-color: $base-color-white;
  }

  .location__wrapper {
    z-index: 2;
    grid-area: 2 / 3 / 3 / 4;
    place-self: center start;
    width: 565px;
    padding: 60px 80px;
    background-color: $base-color-white;
    //
    margin-left: 0;
    margin-bottom: 17px;
  }

  .location__address {
    text-align: start;
  }

  .location__map {
    grid-area: 1/1/-1/-1;
  }

  .location__image-wrapper {
    grid-area: 1 / 1 / -1 / -1;
  }
}
