.main-nav {
  display: flex;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  width: 100%;
}

.main-nav--no-js {
  display: flex;
  position: static;
}

.main-nav__list {
  display: none;
  column-gap: 33px;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $base-color-white;
  z-index: 2;
}

.main-nav__list--open {
  display: flex;
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid $decor-color;
  width: 100%;

  &:last-child {
    border-bottom: 1px solid $decor-color;
  }
}

.main-nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text-dark;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: unset;
    max-width: 490px;
    position: static;
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 4px;
    gap: 10px  33px;
    background-color: transparent;
  }

  .main-nav__item {
    margin: unset;
    padding: unset;
    border: unset;
    width: auto;

    &:last-child {
      border: unset;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__link {
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;

    &--current {
      border-bottom: 2px solid $accent-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 560px;
  }

  .main-nav__list {
    padding-right: 0;
    gap: 20px 35px;

    &--index {
      max-width: 610px;
    }
  }

  .main-nav__list--index .main-nav__link--current {
    border-bottom: 2px solid $base-color-white;
  }

  .main-nav__list--index .main-nav__link {
    color: $base-color-white;
  }

  .main-nav__item {
    margin: unset;
    padding: unset;
    border: unset;
    width: auto;

    &:last-child {
      border: unset;
    }
  }

  .main-nav__link {
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 30px;
  }
}
