.subscribe__text {
  margin: 32px auto 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: $base-color-text-dark;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .subscribe__text {
    width: 600px;
    margin-top: 72px;
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__text {
    width: auto;
    margin-top: 86px;
  }
}
